---
import MainHead from "../../components/MainHead.astro";
import Header from "../../components/Header/index";
import Work from "../../components/Work/index";
import { parse } from "node-html-parser";

export const getStaticPaths = async () => {
  const apiUrl = `https://takanorip.microcms.io/api/v1/works?limit=1000`;
  const baseHeaders = {
    headers: { "X-MICROCMS-API-KEY": "d40081c2-4d7e-4e26-a730-330f9b7fb70e" },
  };

  const response = await fetch(apiUrl, baseHeaders);
  const resJson = await response.json();
  const data = await Promise.all(
    resJson.contents.map(async (item) => {
      const isSpeakerDeck = item.link?.includes("speakerdeck.com");
      if (!isSpeakerDeck) {
        return {
          params: { id: item.id },
          props: { item, spekerdeckInfo: null },
        };
      }
      const spealerdeckEmbedRes = await (
        await fetch(`https://speakerdeck.com/oembed.json?url=${item.link}`)
      ).json();
      const iframeUrl = parse(spealerdeckEmbedRes.html)
        .querySelector("iframe")
        .getAttribute("src");

      return {
        params: { id: item.id },
        props: {
          item,
          spekerdeckInfo: {
            title: spealerdeckEmbedRes.title,
            link: iframeUrl,
          },
        },
      };
    }),
  );
  return data;
};

const { item, spekerdeckInfo } = Astro.props;

const strippedDescription = item.description.replace(/(<([^>]+)>)/gi, "");
---

<html lang="en">
  <head>
    <MainHead
      title={`${item.title} | office takanorip`}
      description={strippedDescription}
    />
  </head>
  <body>
    <Header dir="works" client:visible />
    <Work data={item} spekerdeckInfo={spekerdeckInfo} />
  </body>
</html>
