---
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button/index.jsx';
import Footer from '../components/Footer/index';
import Header from '../components/Header/index';

const { content } = Astro.props;
---

<html lang={content.lang || 'en'}>
  <head>
    <MainHead title={content.title} description={content.description} />
    <style>
      
    </style>
  </head>
  <body>
    <Header />
    <header style={`background-image:url(${content.img})`} class="hero">
      <h1 class="title">{content.title}</h1>
    </header>
    <div class="leadIn">
      <div class="wrapper pt8 pb8 mb8 tac">
        {content.tags.map((t) => <span class="tag">{t}</span>)}
        <h3 class="tagline">{content.description}</h3>
      </div>
    </div>
    <div class="wrapper wrapper__readable">
      <div class="content"><slot /></div>
    </div>
    <footer class="tac mt6">
      <a href="/projects">
        <Button>View More</Button>
      </a>
    </footer>
    <Footer />
  </body>
</html>
